:root {
  --main-text-color: #000000;
  --secondary-text-color: #231f20;
  --white-color: #ffffff;
  --acent-color: #f7941e;
  --header-footer-color: #fafafa;
  --section-backgroun-color: #f1f1f2;
}
body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
.header,
.footer {
  background-color: var(--header-footer-color);
}
.logo {
  color: var(--acent-color);
  font-family: 'Homemade Apple', sans-serif;
  font-size: 18px;
  line-height: 2.17;
}
.naw-list-item {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.2;
}
.naw-list-item:hover,
.naw-list-item:focus {
  color: var(--acent-color);
  font-size: 18px;
  line-height: 1.2;
}
.header-btn {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--acent-color);
}
.hero {
  background-color: var(--section-backgroun-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.2;
}
.hero-text {
  font-size: 20px;
  line-height: 1.4;
}
.hero-btn {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: var(--acent-color);
  color: var(--white-color);
  cursor: pointer;
}

.list {
  list-style: none;
}
.text {
  text-decoration: none;
}
